# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen
templates
.directory
static
models/__pycache__/
__pycache__/
resources/__pycache__/
recipes_db/
logfile
.empty/
migrations/__pycache__/
migrations/versions/__pycache__/